// FONT

$font: 'Montserrat', sans-serif;

// FONT-SIZE

$xs-font: 14px;
$sm-font: 16px;
$md-font: 24px;
$lg-font: 32px;

// COLORS

$light-color: #EAE7E4;
$dark-grey: #0C0C0C;
$black: #000000;
$red-color: #CC4B4B;

// FONT-WEIGHT

$regular: 400;
$semi-bold: 600;
$bold: 700;